build/
obj/
out/

permuter_settings.toml

# ninja
*.ninja
.ninja_lock
.ninja_log
compile_commands.json

# clangd
.cache/

# splat
asm/
assets/
config/undefined_funcs_auto.txt
config/undefined_syms_auto.txt
.splache
*.ld

# stuff
disc/

/scratches

# objdiff
/objdiff.json

# decompals
tools/binutils
tools/objdiff